@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  background: #f0f0f0;
  font-family: 'Lato', sans-serif;
  color: #303030;
  font-size: 14px;
}

.calendar-wrapper  {
  margin: 0;
  overflow: hidden;
  width: 350px;
}

.month-wrapper {
  overflow: hidden;
}
.month-wrapper::after {
  clear: both;
  content: "";
  display: block;
}
.arr-left, .arr-right {
  background: #fff;
  border-radius: 50%;
  color: #0075b4;
  cursor: pointer;
  height: 40px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  transition: all .3s ease;
  width: 40px;
}
.arr-right {
  float: right;
}
.arr-left:hover, .arr-right:hover {
  background: #0075b4;
  color: #fff;
}

.month {
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  width: calc(100% - 80px);
}

.week {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.week li {
  color: #000;
  float: left;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  width: 50px;
}
.week li.dayoff {
  color: #ba1000;
}

.calendar {
  list-style: none;
}
.calendar h3 {
  text-align: center;
}
.calendar li {
  border-radius: 50%;
  box-sizing: border-box;
  float: left;
  height: 50px;
  line-height: 50px;
  padding-left: 0;
  text-align: center;
  width: 50px;
  transition: all .5s ease;
}
.calendar li.day {
  border: 1px solid transparent;
  cursor: pointer;
}
.calendar li.day:hover {
  background: #fff;
  border-color: #0075b4;
}
.calendar li.current-day {
  background: #0075b4;
  border: 1px solid #0075b4;
  color: #fff;
}
.calendar li.current-day:hover {
  color: #0075b4;
}
